#grad {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
     height: 200px;
    width: 500px;
}
.h1{
color:white;
padding-top: 60px;
text-align: center;
font-size: 50px;
}